*.log
.DS_Store
.env
.gitignore
Dockerfile
RINGAKASAN_HARI_INI.md
.dockerignore
.editorconfig
.phpunit.result.cache
artisan
railway.json
vite.config.js
ANALISIS_SISTEM.md
AGENTS.Md
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
